:root {
    --bg: #1e1e1e;
    --txt: #dddddd;
    --href: #a3ddff;
    --href-hover: #5fa8fa;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding-left: 1em;
    color: var(--txt);
    font-size: 16px;
    background-color: var(--bg);
}

/* = = = = = COLUMN = = = = = */

#column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

main {
    width: 70%;
}

aside {
    width: 30%;
    background-color: rgba(0, 0, 0, .15);
    align-self: stretch;
}

/* = = = = = TEXT = = = = = */

main h3 {
    margin: 4em 0 1em 0;
    padding: .3em .5em;
    background-color: rgba(255, 255, 255, .125);
    border-radius: .25rem;
}

main h4 {
    margin: 3em 0 1em 0;
    padding: .25em .75em;
    border-left: 4px solid rgba(255, 255, 255, .5);
}

main h3+h4 {
    margin-top: 0;
}

a {
    color: var(--href);
    text-decoration: none;
}

a:hover {
    color: var(--href-hover);
    text-decoration: underline;
}

code {
    font-family: 'Consolas';
}

p code {
    margin: 0 .25rem;
    padding: .1rem .3rem;
    color: #ffd78e;
    padding: .05rem .25rem;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: .25rem;
}

/* = = = = = TABLE = = = = = */

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    padding: .5em 1em;
}

table caption {
    margin: .3em 0;
}

thead {
    border-top: 2px solid var(--txt);
    border-bottom: 1px solid var(--txt);
    background-color: rgba(255, 255, 255, .1);
}

tbody {
    border-bottom: 2px solid var(--txt);
}

tbody tr {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .075);
}

tbody tr:last-child {
    border-bottom: none;
}

/* = = = = = COMMONS = = = = = */
.center {
    text-align: center;
}

.left {
    text-align: left;
}
